.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    height: var(--default-layout-header-height);
    width: var(--default-layout-header-width);
    background: rgb(255, 255, 255);
    align-items: center;
}
.inner {
    height: 100%;
    width: var(--default-layout-header-width);
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-right: 24px;
    padding-left: 16px;
}

.logo-link {
    width: 300px;
    display: flex;
}

// Action
.action {
    min-width: 160px;
    display: flex;
    align-items: center;
    .btn-login {
        font-weight: 700;
    }

    .upload-btn {
        min-width: 110px;
        padding: 0px 16px;
        height: 36px;
        border: 1px solid rgba(22, 24, 35, 0.12);
        border-radius: 2px;
        font-weight: 600;
        background: rgb(255, 255, 255);
    }

    .messe-btn {
        position: relative;

        width: 32px;
        height: 32px;
        font-size: 2.2rem;
        margin-left: 18px;
        background-color: transparent;
        cursor: pointer;
        .notice-circle {
            position: absolute;
            top: -4px;
            right: -4px;
            width: 20px;
            height: 20px;
            background-color: #ff3147; /* Red color for the badge */
            color: #fff; /* White text color */
            font-size: 14px; /* Small font size for the number */
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%; /* Circular badge */
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); /* Optional shadow for better visibility */
        }
    }
    .user-avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 32px;
        cursor: pointer;
    }
}
.more-btn {
    margin-left: 16px;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
    font-style: normal;
    padding: 4px 4px;
    width: 20px;
    height: 20px;
}
